<ion-menu contentId="main-content">
  <ion-list>
    <ion-item>
      <ion-label>ACCUEIL</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SIMULER APPEL</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>ACHETER OFRRE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>FAIRE DEPOT</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>MON COMPTE</ion-label>
    </ion-item>
  </ion-list>
</ion-menu>

<ion-header>
  <ion-item><a href="/accueil"> Retour </a></ion-item>
  <ion-toolbar>
    <ion-title>Simulation d'usage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Simuler un usage</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form #SimulationForm="ngForm" class="form-wrap"> 
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select ngModel name="idTypeOffre">
            <ion-select-option *ngFor="let typeoffre of (listTypeOffre)" [value]="typeoffre.idTypeOffre">{{ typeoffre.type }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input ngModel type="number" name="consommation" placeholder="Consommation"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click)=simuler(SimulationForm)>Simuler</ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

